.searchText[type=text]{
    background-color: white;
    background-image: url('https://img.icons8.com/officel/30/000000/search.png');
    background-position: 15px 10px;
    background-repeat: no-repeat;
    padding-left: 55px;
    height: 50px;
    border-radius: 25px;
}

label{
    color: #a2a2a2;
}
